[submodule "schemas"]
	path = schema/schemas
	url = https://github.com/aerospike/schemas # Tools build fails if ssh is used
	ignore = dirty
[submodule ".github/packaging/common"]
	path = .github/packaging/common
	url = https://github.com/aerospike/tools-packaging-common
