name: build-artifacts.yml
on:
  workflow_dispatch:
  push:
    branches: [ main, SERVER-216,  SERVER-434 ]

jobs:
  build-artifacts:
    strategy:
      matrix:
        distro: [ debian12, debian13, ubuntu20.04, ubuntu22.04, ubuntu24.04, redhat-el8, redhat-el9, redhat-el10, amazon-2023 ]
        host: [ ubuntu-24.04-arm, ubuntu-24.04 ]
    uses: aerospike/shared-workflows/.github/workflows/reusable_execute-build.yaml@v2.0.0
    with:
      gh-source-ref: ${{ github.ref_name }}
      runs-on: ${{ matrix.host }}
      jf-project: database
      jf-build-id: ${{ github.run_number }}
      build-script: |
        set -x &&
        cd local && 
        git fetch --unshallow --tags --no-recurse-submodules &&
        git submodule update --init &&
        ls -laht &&
        echo ref_name ${{ github.ref_name }} &&
        git branch -v &&
        .github/docker/entrypoint.sh -c -d ${{ matrix.distro }} &&
        .github/docker/entrypoint.sh -e -d ${{ matrix.distro }} &&
        ls -laht ../dist
      gh-artifact-directory: dist
      gh-artifact-name: unsigned-artifacts-${{ matrix.distro }}-${{ matrix.host }}
      gh-retention-days: 7
      dry-run: false
      jf-url: https://aerospike.jfrog.io # default
      oidc-provider-name: database-gh-aerospike
      oidc-audience: database-gh-aerospike
      jf-build-name: asconfig
  sign-artifacts:
    strategy:
      matrix:
        distro: [ debian12, debian13, ubuntu20.04, ubuntu22.04, ubuntu24.04, redhat-el8, redhat-el9, redhat-el10, amazon-2023 ]
        host: [ ubuntu-24.04-arm, ubuntu-24.04 ]
    needs: build-artifacts
    uses: aerospike/shared-workflows/.github/workflows/reusable_sign-artifacts.yaml@v2.0.0 # vn.n.n
    with:
      gh-artifact-name: signed-artifacts-${{ matrix.distro }}-${{ matrix.host }}
      gh-unsigned-artifacts: unsigned-artifacts-${{ matrix.distro }}-${{ matrix.host }}
      # artifact-name: signed-artifacts  # optional, defaults to signed-artifacts
      # retention-days: 7               # optional, defaults to 7
      # dry-run: false                  # optional, for future compatibility
    secrets:
      gpg-private-key: ${{ secrets.GPG_SECRET_KEY }}
      gpg-public-key: ${{ secrets.GPG_PUBLIC_KEY }}
      gpg-key-pass: ${{ secrets.GPG_PASS }}

  upload-artifacts:
    strategy:
      matrix:
        distro: [ debian12, debian13, ubuntu20.04, ubuntu22.04, ubuntu24.04, redhat-el8, redhat-el9, redhat-el10, amazon-2023 ]
        host: [ ubuntu-24.04-arm, ubuntu-24.04 ]
    needs: sign-artifacts
    uses: aerospike/shared-workflows/.github/workflows/reusable_deploy-artifacts.yaml@v2.0.0 # vn.n.n
    with:
      jf-project: database
      jf-build-name: asconfig
      version: ${{ github.ref_name }}
      jf-url: https://aerospike.jfrog.io
      oidc-provider-name: database-gh-aerospike
      oidc-audience: database-gh-aerospike
      gh-artifact-name: signed-artifacts-${{ matrix.distro }}-${{ matrix.host }}
      gh-retention-days: 1
      dry-run: false
      jf-build-id: ${{ github.run_number }}
      jf-metadata-build-id: ${{ github.run_number }}-metadata
