name: build-artifacts.yml
on:
  workflow_dispatch:
  push:
    branches: [ main, SERVER-216 ]

jobs:
  build-artifacts:
    uses: aerospike/shared-workflows/.github/workflows/reusable_execute-build.yaml@fix/external-calls
    with:
      project: asconfig
      build-name: asconfig
      build-version: v1.0.0
      build-script: bash -xc 'pwd && git clone https://github.com/aerospike/asconfig && ls -laht && cd asconfig && git submodule update --init && git checkout SERVER-216 && ls -laht && .github/docker/entrypoint.sh -c && .github/docker/entrypoint.sh -e && ls -laht ../dist'
      artifact-directory: dist
      artifact-name: my-build-artifacts
      retention-days: 7
      dry-run: false
      artifactory-url: https://aerospike.jfrog.io # default
      artifactory-oidc-provider-name: gh-aerospike # default
      artifactory-oidc-audience: aerospike # default


#  build-packages:
#    runs-on: ubuntu-22.04
#    steps:
#      - uses: actions/checkout@v3
#        with:
#          submodules: true
#      - name: Build packages
#        run: |
#          .github/docker/entrypoint.sh -c
#          .github/docker/entrypoint.sh -e
#        env:
#          FEATKEY_DIR: /tmp
#          ASC_DOCKER_USER: ${{secrets.DOCKER_USER}}
#          ASC_DOCKER_PASS: ${{secrets.DOCKER_PASS}}
