name: "Draft Release"

on:
  push:
    tags:
      - "*"

jobs:
  # workflows to pull release artifacts from
  snyk-test:
    uses: aerospike/asconfig/.github/workflows/snyk-test.yml@main
    secrets: inherit
  draft-release-notes:
    needs: snyk-test
    runs-on: ubuntu-latest
    name: Draft Release
    steps:
    - uses: actions/checkout@v4
    # below steps are for downloading release artifacts
    - name: Download Snyk Artifact
      uses: actions/download-artifact@v4
      with:
        name: asconfig-snyk.txt
        path: artifacts
    - name: Download Snyk Artifact
      uses: actions/download-artifact@v4
      with:
        name: asconfig-snyk.txt
        path: artifacts
    # finally create the release and upload artifacts
    - name: Upload Artifacts to Release Draft
      uses: "softprops/action-gh-release@v1"
      with:
        draft: true
        generate_release_notes: true
        files: |
          artifacts/*
