name: Mac Artifact

on:
  repository_dispatch:
    types: mac-build
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_call:
    inputs:
      submodule:
        description: The directory of the submodule, if this workflow is being called on a submodule
        required: true
        type: string

jobs:
  build:
    runs-on: macos-11
    steps:
      - name: Get checkout directory
        uses: haya14busa/action-cond@v1
        id: checkout-dir
        with:
          cond: ${{ inputs.submodule != '' }}
          if_true: aerospike-tools # In this case we are expecting to checkout the tools package.
          if_false: asconfig
      - name: Get asconfig working directory
        uses: haya14busa/action-cond@v1
        id: working-dir
        with:
          cond: ${{ inputs.submodule != '' }}
          if_true: aerospike-tools/${{ inputs.submodule }} # In this case we are expecting to checkout the tools package.
          if_false: asconfig
      - uses: actions/checkout@v2
        with:
          path: ${{ steps.checkout-dir.outputs.value }}
          fetch-depth: 0
      - name: Print version
        working-directory: ${{ steps.working-dir.outputs.value }}
        run: |
          git describe --tags --always
      - name: Get go version from go.mod
        working-directory: ${{ steps.working-dir.outputs.value }}
        run: |
          echo "GO_VERSION=$(grep '^go ' go.mod | cut -d " " -f 2)" >> $GITHUB_ENV
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true
          cache: true
          cache-dependency-path: ${{ steps.working-dir.outputs.value }}/go.sum
      - name: Get SHA
        working-directory: ${{ steps.working-dir.outputs.value }}
        id: sha
        run: |
          echo "::set-output name=sha::$(git rev-parse head)"
      - uses: kenchan0130/actions-system-info@master
        id: system-info
      - name: Cache asconfig
        uses: actions/cache@v3
        id: cache-asconfig
        env:
          cache-name: cache-asconfig
          cache-index: "1"
        with:
          path: |
            ${{ steps.working-dir.outputs.value }}/bin
          key: ${{ env.cache-name }}-${{ env.cache-index }}-${{ runner.os }}-${{ runner.arch }}-${{ steps.system-info.outputs.release }}-${{ steps.sha.outputs.sha }}
      - name: Build mac asconfig
        if: steps.cache-asconfig.outputs.cache-hit != 'true'
        working-directory: ${{ steps.working-dir.outputs.value }}
        run: |
          make
      - name: Sanity Test asconfig
        working-directory: ${{ steps.working-dir.outputs.value }}
        run: |
          sudo make install
          asconfig --version 2>&1 | grep "asconfig version"
      - uses: actions/upload-artifact@v3
        with:
          name: ${{ steps.system-info.outputs.platform }}-${{ runner.arch }}-${{ runner.os }}-${{ steps.system-info.outputs.release }}-asconfig
          path: ${{ steps.working-dir.outputs.value }}/asconfig
          if-no-files-found: error