name: Test

on:
  push:
    branches: ["*"]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
        with:
          submodules: true
      - name: Get go version from go.mod
        run: |
          echo "GO_VERSION=$(grep '^go ' go.mod | cut -d " " -f 2)" >> $GITHUB_ENV
      - name: Setup go version
        uses: actions/setup-go@19bb51245e9c80abacb2e91cc42b33fa478b8639 # v4.2.1
        with:
          go-version-file: go.mod
      - name: Write feature keys
        run: |
          echo "$FEATURESV2" > /tmp/featuresv2.conf
        env:
          FEATURESV2 : ${{secrets.FEATURES_V2}}
      - name: Run tests
        run: |
          make coverage
        env:
          FEATKEY_DIR : /tmp
          ASC_DOCKER_USER : ${{secrets.DOCKER_USER}}
          ASC_DOCKER_PASS : ${{secrets.DOCKER_PASS}}
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@ab904c41d6ece82784817410c45d8b8c02684457 # v3.1.6
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          files: testdata/coverage/total.cov
          verbose: false