name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: "^1.19.0"
      - name: Install dependencies
        run: |
          make dependencies
      - name: Run tests
        run: |
          make coverage