name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - uses: actions/setup-go@v4
        with:
          go-version: "^1.19.0"
      - name: Install dependencies
        run: |
          make dependencies
      - name: Write public single node EE key
        run: |
          echo $FEATURES >> /tmp/features.conf
        env:
          FEATURES : ${{secrets.SINGLE_NODE_EE_FEATURE_KEY}}
      - name: Run tests
        run: |
          make coverage
        env:
          FEATKEY : /tmp/features.conf